.arrows {
    position: absolute;
    top: 330rem;
    right: 0;
}
.arr-left {
    width: 26rem;
    margin-right: 32rem;
}
.arr-right {
    width: 26rem;
}
.arrows img.swiper-button-disabled {
    opacity: 0.3;
}
