:root {
  --contentInnerPadX: 5px;
  --containerW: calc(1171px + 2*var(--contentInnerPadX)) ;

  /* --transTime: 0.3s; */
  /* --bgColor1: #636363; */
}

html{
  /* font-size: 1px; */
  /* 0.115  => 870px критическая ширина, дальше уменьшать  
  в этой точке  к * (870/100) = 1 => к = 100/870 = 0.115
  до 500 вроде норм.
  */ 
   /* font-size: clamp(0.55px, 0.115vw, 1px); */
   /* поменял точку начала уменьшения на 1100
   в этой точке  к * (1100/100) = 1 => к = 100/1100 = 0.09
   до 540 вроде работает. дальше надо медиа
    */
  font-size: clamp(0.55px, calc(100vw/1100), 1px);
}
/* body{
} */

a, a:focus, a:active{
  color:inherit;
}

.container {
  margin: 0 auto;
  padding: 0 var(--contentInnerPadX);
  max-width: var(--containerW);

  min-height: 1vh;
  position: relative;
}

.container-ex {
  min-height: 1vh;
  position: relative;
  width: 100%;
}

header{
  min-height: 10vh;
}
main{
  min-height: 10vh;
}

/* blocks */
.button-link{
  display: inline-block;
  padding: 12rem 24rem;
  border: 1px solid #B3BAC1;

  font-family: 'Mplus 1p-maroon', sans-serif;
  font-size: 16rem;
  font-weight: 500;
  line-height: 1.7;
}
