
.join-us{
    margin-top: 140rem;
    overflow: auto;

    color: #122947;
    font-family: 'Mplus 1p-maroon', sans-serif;
    font-size: 18rem;
    font-weight: 400;
    line-height: 1.45;

    display: flex;
    align-items: center;
}
.join-us__images{
    width: 699rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.join-us__right-box{
    margin-left: 71rem;
}
.join-us__right-box h2{
    font-size: 32rem;
    font-family: 'Raleway-maroon', sans-serif;
    font-weight: 500;
    line-height: 1.3;
}
.join-us__right-box p{
    margin-top: 30rem;

    font-size: 18rem;
    font-weight: 400;
    line-height: 1.45;    
}

.button-link_join-us{
    margin-top: 40rem;
}

/* @media screen (max 870px) {
    
} */